
#quiz {
    color: white;

    .disable-form {
        pointer-events: none;
    }

    .question-container {
        border: 1px solid rgb(253, 217, 163);
        border-radius: 0.25rem;
    }

    .question {
        background-color: rgb(253, 217, 163);
        
        .center-fix {
            color: rgb(253, 217, 163);
            visibility: hidden;
        }

        label {
            font-weight: bold;
            // background-color: lightcyan;
            background-color: rgb(253, 217, 163);
            border: none;
        }
    }

    .answers {
        background-color: whitesmoke;

        .answer {
            border-top: 1px solid #8a8a8a;
            padding-right: 2rem;
        }

        .form-control {
            cursor: pointer;
            background-color: whitesmoke;
            border: none;
        }

        .custom-checkbox {
            
            .custom-control-label {
                height: auto;
                margin-left: 0.5rem;
            }
    
            .custom-control-label::before {
                border: 1px solid #8a8a8a;
            }
    
            .custom-control-input:not(:checked) ~ .custom-control-label::before {
                // background-color: rgb(181, 227, 253);
                background-color: rgb(253, 217, 163);
            }
    
            .custom-control-input:checked ~ .custom-control-label::before {
                background-color: orange;
            }
    
            .custom-control-input:checked:focus ~ .custom-control-label::before {
                box-shadow: none;
            }
    
            .custom-control-input:focus ~ .custom-control-label::before {
                box-shadow: none;
            }
    
            .custom-control-label::after {
                cursor: pointer;
            }
    
        }

    }

    .input-group-text,
    .form-control {
        border-radius: 0;
        overflow-wrap: normal;
        height: auto;
    }

    .input-group-text {
        // background-color: lightcyan;
        background-color: rgb(253, 217, 163);
        border: none;
    }

    .btn-outline-dark {
        color: white;
        border-color: white;

        &:hover {
            background-color: white; 
            color: black;
            border-color: black;
        }
    }

}