#navbar {
  .container {
    max-width: 400px;
  }
}

.form-control {
  border: none;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  margin-right: 4rem;
}

.navbar-brand {
  margin-left: 2rem;
}

.navbar-expand-lg .navbar-nav {
  margin-top: 1.9rem;
}

a .rounded {
  display: auto;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.link-nav {
  text-decoration: none;
  color: black;
  margin-right: 1.1rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 100;
}

.link-nav .active {
  margin-top: 2rem;
}

.logohere {
  text-transform: uppercase;
}

li {
  list-style: none;
}

a:hover {
  color: black;
}

.logohere {
  color: black;
  margin-left: 4rem;
  font-size: 1.4rem;
}

.logohere:hover {
  color: black;
}

.loggedin-andout {
  margin-left: 4rem;
  margin-top: 1rem;
  color: black;
}

.btn {
  text-transform: uppercase;
}
