#createQuiz {
	
	.quiz-title {
		.card {
			border: none;
		}

		.card-title {
			font-size: 2rem;
			color: whitesmoke;
			text-transform: uppercase;
		}
	
		.card-img {
			max-height: 100px;
			max-width: 100%;
			object-fit: cover;
		}
	}

	.question {
		padding-top: 2rem;
		border-top: 1px solid rgb(253, 217, 163);
	}

	.input-group-text,
	.form-control {
		border: none;
	}

	.input-group-prepend .input-group-text {
		background-color: rgb(253, 217, 163);
	}

	.input-group-append {
		border: none;
		cursor: pointer;

		.input-group-text {
			background-color: white;
			border-color: white;
		}

		.add-icon {
			min-width: 40px;
			color: rgb(3, 192, 3);
		}

		.remove-icon {
			min-width: 40px;
			margin-right: 1px;
			color: rgb(252, 0, 0);
		}
	}

	.question-icons.input-group-append .remove-icon {
		min-width: 20px;
		padding-right: 0;
	}

	.custom-checkbox {
		.custom-control-label::before {
			border: 1px solid rgb(35, 67, 78);
		}

		.custom-control-input:not(:checked) ~ .custom-control-label::before {
			background-color: rgb(253, 217, 163);
			border: none;
		}

		.custom-control-input:checked ~ .custom-control-label::before {
			background-color: orange;
			border: none;
		}

		.custom-control-input:checked:focus ~ .custom-control-label::before {
			box-shadow: none;
		}

		.custom-control-input:focus ~ .custom-control-label::before {
			box-shadow: none;
		}

		.custom-control-label::after {
			cursor: pointer;
		}
	}

	.answerPoints {
		&.input-group {
			justify-content: flex-end;
		}

		.form-control {
			flex: none;
			width: 4.5rem;
		}
	}

	.btn-outline-dark {
		color: white;
		border-color: white;

		&:hover {
			background-color: white; 
			color: black;
			border-color: black;
		}
	}

	@media screen and (min-width: 768px) {
		.custom-checkbox {
			margin-left: -1.5rem;
		}
	
		.quiz-title {

			.card-title {
				font-size: 4rem;
			}
		
			.card-img {
				max-height: 200px;
			}
		}
		
	}
}

